

<p>page answer</p>

<% if @answer.include? "?" %>
<%= "Silly question, get dressed and go to work!" %>
<% elsif @answer == "I am going to work" %>
<%= "Great" %>
<% else %>
<%= "I don't care, get dressed and go to work!" %>
<% end %>

<%= link_to "Ask New Question", ask_path %>


