<h1> Hello, I'am your Stupid coach :) </h1>
<h2> Qu'as tu à me dire aujourd'hui ? </h2>

<form action="answer" method="get">
  <input type="text" name="answer_user" placeholder="Give your answer">
  <input type="submit">
</form>



